force-app/main/default/flows/mail_2_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cancelled</name>
        <label>cancelled</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.Order_is_cancelled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>created</name>
        <label>created</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.order_created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>deli</name>
        <label>deli</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.Order_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>out</name>
        <label>out</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.Out_for_delivery</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>paym</name>
        <label>paym</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.Order_payment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>processed</name>
        <label>processed</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.order_has_to_be_pocessed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>return</name>
        <label>return</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.Order_returned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>return_req</name>
        <label>return req</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.return_requested</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>shipped</name>
        <label>shipped</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Order__c.Order_has_been_shipped</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>new_flow</name>
        <label>new flow</label>
        <locationX>1238</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>order_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>created</targetReference>
            </connector>
            <label>order created</label>
        </rules>
        <rules>
            <name>order_in_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>processed</targetReference>
            </connector>
            <label>order in process</label>
        </rules>
        <rules>
            <name>order_shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>shipped</targetReference>
            </connector>
            <label>order shipped</label>
        </rules>
        <rules>
            <name>out_for_delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>out</targetReference>
            </connector>
            <label>out for delivery</label>
        </rules>
        <rules>
            <name>delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deli</targetReference>
            </connector>
            <label>delivered</label>
        </rules>
        <rules>
            <name>return_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>return_req</targetReference>
            </connector>
            <label>return request</label>
        </rules>
        <rules>
            <name>returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>return</targetReference>
            </connector>
            <label>returned</label>
        </rules>
        <rules>
            <name>order_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cancelled</targetReference>
            </connector>
            <label>order cancelled</label>
        </rules>
        <rules>
            <name>payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaymentMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>paym</targetReference>
            </connector>
            <label>payment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>mail 2.5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>mail 2.5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>new_flow</targetReference>
        </connector>
        <object>Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
