force-app/main/default/flows/orderlineitem_quantity_auditflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Lineitemcheckbox</name>
        <label>Lineitemcheckbox</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Itemstoinclude</name>
            <conditionLogic>(1 AND 2 AND 3 )AND 4 AND (5 OR 6 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_The_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_The_Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Productquantituaudit</targetReference>
            </connector>
            <label>Itemstoinclude</label>
        </rules>
        <rules>
            <name>Itemtobecancelled</name>
            <conditionLogic>(1 AND 2 AND 3 )AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_The_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Include_In_The_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addingproductquantity</targetReference>
            </connector>
            <label>Itemtobecancelled</label>
        </rules>
        <rules>
            <name>quantitychange</name>
            <conditionLogic>(1 AND 2 AND 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_The_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_The_Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audingproductquantity</targetReference>
            </connector>
            <label>quantitychange</label>
        </rules>
        <rules>
            <name>orderlineitem_records_to_delete</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cust__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_The_Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_The_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cartrecord</targetReference>
            </connector>
            <label>orderlineitem records to delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>adddingproductquantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Product__r.RemainingQuantity__c}+{!$Record__Prior.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>auditquantityforquantityupdate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Product__r.RemainingQuantity__c}-({!$Record.Quantity__c}-{!$Record__Prior.Quantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>subsractingproducts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Product__r.RemainingQuantity__c}-{!$Record.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>orderlineitem_quantity_auditflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>orderlineitem_quantity_auditflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>creating_cartitems</name>
        <label>creating cartitems</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>deleteorderline_item</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buytestfield__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cart__c</field>
            <value>
                <elementReference>Cartrecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>$Record.ListPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice__c</field>
            <value>
                <elementReference>$Record.UnitPrice__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cart_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>deleteorderline_item</name>
        <label>deleteorderline item</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Cartrecord</name>
        <label>Cartrecord</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>creating_cartitems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order_Cust__r.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>addingproductquantity</name>
        <label>addingproductquantity</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RemainingQuantity__c</field>
            <value>
                <elementReference>adddingproductquantity</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Audingproductquantity</name>
        <label>Audingproductquantity</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RemainingQuantity__c</field>
            <value>
                <elementReference>auditquantityforquantityupdate</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Productquantituaudit</name>
        <label>Productquantituaudit</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RemainingQuantity__c</field>
            <value>
                <elementReference>subsractingproducts</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lineitemcheckbox</targetReference>
        </connector>
        <object>Order_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
