force-app/main/default/flows/order_status_mail_to_customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>order_creation_mail</name>
        <label>order creation mail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your order has created succesfully </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ordercancelledmail</name>
        <label>ordercancelledmail</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Ordercancelledresason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Order is Cancelled</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Orderdeliverd_mailo</name>
        <label>Orderdeliverd mailo</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Orderdeliverdsurvaylink</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <elementReference>Orderdeliverd_mailo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Order is Deliverd</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outfordelivarymail</name>
        <label>Outfordelivarymail</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>order_information_details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Item is out for Delivery</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendmailinprogress</name>
        <label>sendmailinprogress</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>order_informationwithpaymentstatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>your order is in progress</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Shippednotificationmail</name>
        <label>Shippednotificationmail</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>order_information_details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your item is Shipped</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>order_status_decision</name>
        <label>order status decision</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>order_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>order_creation_mail</targetReference>
            </connector>
            <label>order creation1</label>
        </rules>
        <rules>
            <name>orderstatusinprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendmailinprogress</targetReference>
            </connector>
            <label>orderstatusinprogress</label>
        </rules>
        <rules>
            <name>orderstatusshipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shippednotificationmail</targetReference>
            </connector>
            <label>orderstatusshipped</label>
        </rules>
        <rules>
            <name>orderstatusoutfordelivary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outfordelivarymail</targetReference>
            </connector>
            <label>orderstatusoutfordelivary</label>
        </rules>
        <rules>
            <name>orderdeliverd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orderdeliverd_mailo</targetReference>
            </connector>
            <label>orderdeliverd</label>
        </rules>
        <rules>
            <name>ordercancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ordercancelledmail</targetReference>
            </connector>
            <label>ordercancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>order status mail to customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>order status mail to customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>order_status_decision</targetReference>
        </connector>
        <object>Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>order_information_details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello your Order has been created ,find the details bellow&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your Order Number: {!$Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Order amount: {!$Record.AmountPaid__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Shipping Address:{!$Record.ShippingAddress__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estimated Delivery Date:{!$Record.ExpectedDate__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt; please click here for more details:&lt;a href=&quot;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/&lt;/a&gt;&lt;a href=&quot;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Id}&lt;/a&gt;&lt;a href=&quot;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;/view&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>order_informationwithpaymentstatus</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;hello your order name:&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Name},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ammount paid: {!$Record.AmountPaid__c},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Shipping Adress:{!$Record.ShippingAddress__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Expected Delivary Date:{!$Record.ExpectedDate__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Payment Status:{!$Record.PaymentStatus__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/&lt;/a&gt;&lt;a href=&quot;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Id}&lt;/a&gt;&lt;a href=&quot;https://wissen-dd--devsand1.sandbox.lightning.force.com/lightning/r/Order__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Ordercancelledresason</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!order_information_details}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Orderdeliverdsurvaylink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!order_information_details}&lt;/p&gt;&lt;p&gt;Click down the link  and give Feedback&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.google.co.in/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://www.google.co.in/&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thank You&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
