force-app/main/default/flows/Quantity_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>orderquantity</name>
        <label>orderquantity</label>
        <locationX>490</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>order_created_quantity_to_decrese</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 AND 5 And 6 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getrecords_of_order_line_tem</targetReference>
            </connector>
            <label>order created quantity to decrese</label>
        </rules>
        <rules>
            <name>Order_cancelled_quantity_to_increse</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND(4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getrecords_of_order_line_tem_for_cancell</targetReference>
            </connector>
            <label>Order cancelled quantity to increse</label>
        </rules>
        <rules>
            <name>Paymentconfirmation</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaymentMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getrecordsofordrlineitemtoincludeinorder</targetReference>
            </connector>
            <label>Paymentconfirmation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>quantityaudit</name>
        <dataType>Number</dataType>
        <expression>{!looping_all_order_line_items.Product__r.RemainingQuantity__c}-{!looping_all_order_line_items.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quantityauditforcancel</name>
        <dataType>Number</dataType>
        <expression>{!looping_cancell_items.Product__r.RemainingQuantity__c}+{!looping_cancell_items.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quantity flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quantity flow cart</label>
    <loops>
        <name>looping_all_order_line_items</name>
        <label>looping all order line items</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>getrecords_of_order_line_tem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_product_quantity_sub</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>looping_cancell_items</name>
        <label>looping cancell items</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <collectionReference>getrecords_of_order_line_tem_for_cancell</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_productquantity_addition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>recordlineitem_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getrecords_of_order_line_tem</name>
        <label>getrecords of order line tem</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_all_order_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Cust__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_In_The_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrecords_of_order_line_tem_for_cancell</name>
        <label>getrecords of order line tem for cancell</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_cancell_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Cust__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_In_The_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getrecordsofordrlineitemtoincludeinorder</name>
        <label>Getrecordsofordrlineitemtoincludeinorder</label>
        <locationX>666</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updatingcheckbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Cust__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>recordlineitem_update</name>
        <label>recordlineitem update</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Cust__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Include_In_The_Order__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Order_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_product_quantity_sub</name>
        <label>update product quantity(sub)</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>looping_all_order_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productidrelatedoforderlineitem</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RemainingQuantity__c</field>
            <value>
                <elementReference>quantityaudit</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_productquantity_addition</name>
        <label>update productquantity(addition)</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>looping_cancell_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>looping_cancell_items.Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RemainingQuantity__c</field>
            <value>
                <elementReference>Quantityauditforcancel</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatingcheckbox</name>
        <label>updatingcheckbox</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Cust__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Include_In_The_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Order_Line_Items__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>orderquantity</targetReference>
        </connector>
        <object>Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>productidrelatedoforderlineitem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>looping_all_order_line_items.Product__r.Id</elementReference>
        </value>
    </variables>
</Flow>
